
<ion-content>
  <main class="form-signin">

    <img class="mb-4" src="../assets/img/logo-110h.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <ion-input type="text" [(ngModel)]="userUID"  class="form-control" id="floatingInput" placeholder="User Name"> </ion-input>
      <label for="floatingInput">Email address</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary"  (click)='onSubmit()'>Login</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>

</main>
</ion-content>


